{{page-title "Todo App"}}

<div class="container">
  <div class="row header">
    <div class="col-12">
      <span>This is header</span>
    </div>
  </div>
  <div class="row body">
    <div class="col-12">
      <MyComponent />
      {{outlet}}
    </div>
  </div>
  <div class="row footer">
    <div class="col-12">
      <span>This is footer</span>
    </div>
  </div>
</div>